@import url('https://fonts.googleapis.com/css?family=Gudea|Montserrat|Spartan&display=swap');

* {
  margin: 0;
  padding: 0;
}


canvas {
  max-width: 1000px;
  max-height: 600px;
}

.negative {
  color: red;
}

.positive {
  color: rgb(54, 184, 54);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  font-size: 14px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -80px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.displayChart {
  width: 600px;
  height: 600px;

}

/* Main styling  */

body {
  background-color: #212121;
  color: white;
  /* font-family: 'Spartan'; */
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#535353, #121212 36%);
}


header {
  background-color: #121212;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.chart-and-info {
  display: flex;

}

.initial {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;

}